body{
	
}

header{
	width: auto;
	background-color: #5CB85C;
	border-bottom: solid rgb(195,103,78) 5px;
	display: flex;
	flex-direction: row;
}

h5{
	color: white;
}

/*.espece:checked + .filtre{
	background-color: #009037
}*/

.filtre{
	color: white;
	text-align: right;
	padding-right: 20px;
}

/* .container{
	position: absolute;	
	top: 10%;
	left: 18%;
} */

.listeCheckBox{
	display: flex;
	flex-direction: column;
}

.vertical-menu{
	/*padding: 10px;
	width: 210px; */
	background-color: #5CB85C;
	
}

.accueil{
	color: white;
	padding: 12px;
	
}

.filtre:hover{
	background-color: #009037

}

.no-padding {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.tbody-scroll-500 {
	display: block;
	height: 500px;
	overflow: auto;
}

.tbody-scroll-300 {
	display: block;
	height: 300px;
	overflow: auto;
}


thead,
tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

thead {
	width: calc( 100% - 1em)
}



